.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1C2AC9;
  color: #fff;
  padding: 20px;
}

.Header-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-banner {
  background-color: #1C2AC9;
  color: #fff;
}

.hero-image {
  width: 70%;
}

.features {
  background-color: #E8EAF9;
  display: flex;
  flex-direction: column;
}

.feature {
  width: 30%;
}

.feature-icon {
  max-width: 64px;
}

.features-wrapper-1 {
  display: flex;
  justify-content: space-around;
  
}

.features-wrapper-2 {
  display: flex;
  justify-content: space-around;
}

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8EAF9;
}

.section-left {
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  padding: 50px;
  width: 80%;
}

.section-right {
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  padding: 50px;
  width: 80%;
}

.highlight-image {
  width: 40%;
  padding: 20px;
}
